@font-face {
    font-family: 'Apfel Grotezk';
    src: url("../fonts/apfelgrotezk/ApfelGrotezk-Regular.woff") format("woff");
}


@font-face {
    font-family: 'Apfel Grotezk Fett';
    src: url("../fonts/apfelgrotezk/ApfelGrotezk-Fett.woff") format("woff");
}