@mixin center-content {
    max-width:90%;
    width:90%;
    margin: 0 auto;
}

@mixin flex-row { 
    display:flex;
    flex-direction:row;
}

@mixin flex-column {
    display:flex;
    flex-direction:column;
}

@mixin removeMarginBlock {
    margin-block-start: 0;
    margin-block-end:0;
}