@use "./partials/fontstyles" as * ;
@use "./partials/mixins" as * ;
@use "./partials/breakpoints" as *;
@use "./partials/colors" as *;


* {
    box-sizing: border-box;
  }

body {
    font-family:"Apfel Grotezk";
    position:relative; 
    margin:0;
}

.no-scroll { 
    position:fixed;
}


.navbar {
    @include center-content;
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    padding-top:4rem;


    @include breakpoint-min-size($xl){
        max-width:70%;
    }
}

.logo-link {
    text-decoration: none;
    color:black;
    font-size: 1.75rem;
}

.menu-button {
    padding:0.5rem;
    &:hover{
        background-color:$accent;
        transition: 0.5s ease-in;
    }
}

.nav-container {
    width:100%;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    background-color:#B293C2;
    display:none;
}

.open {
    display:block;
}


.nav-container__items { 
    @include flex-column;
}

.nav-container__link { 
    font-size:2rem;
    text-decoration:none;
}










footer {
    @include center-content;
    @include flex-column;
    padding-top:1.5rem;
    border-top: 1px solid black;
    @include breakpoint-min-size($xl){
        max-width:70%;
    }
}

.footer-name{
    @include removeMarginBlock;
    font-size:2rem;
}

.footer-email{
    @include removeMarginBlock;
    font-size:1.75rem;
    padding: 1rem 0;
}

.footer__right {
    @include flex-row;
    gap:1rem;
}

.footer-img {
    max-width:48px;
}


