@use "./partials/fontstyles" as * ;
@use "./partials/mixins" as * ;


body {
    font-family:"Apfel Grotezk";
}


.navbar {
    @include center-content;
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    padding-top:4rem;
}

.logo-link {
    text-decoration: none;
    color:black;
    font-size: 1.75rem;
}
