@font-face {
  font-family: "Apfel Grotezk";
  src: url("../fonts/apfelgrotezk/ApfelGrotezk-Regular.woff") format("woff");
}
@font-face {
  font-family: "Apfel Grotezk Fett";
  src: url("../fonts/apfelgrotezk/ApfelGrotezk-Fett.woff") format("woff");
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Apfel Grotezk";
}

.navbar {
  max-width: 90%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}
@media (min-width: 1280px) {
  .navbar {
    max-width: 70%;
  }
}

.logo-link {
  text-decoration: none;
  color: black;
  font-size: 1.75rem;
}

.menu-button {
  padding: 0.5rem;
}
.menu-button:hover {
  background-color: red;
}

footer {
  max-width: 90%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  border-top: 1px solid black;
}
@media (min-width: 1280px) {
  footer {
    max-width: 70%;
  }
}

.footer-name {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-size: 2rem;
}

.footer-email {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-size: 1.75rem;
  padding: 1rem 0;
}

.footer__right {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.footer-img {
  max-width: 48px;
}

.home-info-container {
  max-width: 90%;
  width: 90%;
  margin: 0 auto;
  padding: 6rem 0;
}
@media (min-width: 1280px) {
  .home-info-container {
    max-width: 70%;
  }
}

.category-container {
  max-width: 90%;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
@media (min-width: 1280px) {
  .category-container {
    max-width: 70%;
  }
}

.hero-title {
  font-size: 2rem;
  font-weight: 400;
}

.highlight {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  background-color: rgba(178, 147, 194, 0.35);
  padding: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.hero-details {
  -webkit-margin-before: 0.5rem;
          margin-block-start: 0.5rem;
  font-weight: 400;
  font-size: 3rem;
}

.project-title, .experience-title {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-size: 1.8rem;
}

.project-desc, .experience-desc {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.project-img {
  margin-top: 1rem;
  max-width: 60px;
}

.project-container, .experience {
  max-width: 90%;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 6rem;
}
@media (min-width: 1280px) {
  .project-container, .experience {
    max-width: 70%;
  }
}

.project-container__img {
  margin-bottom: 1rem;
}

.content-container, .experience-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.content-container__left, .experience-container__left {
  padding-top: 1.5rem;
  border-top: 1px solid black;
  max-width: 100%;
}

.content-container__right, .experience-container__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}/*# sourceMappingURL=index.css.map */