.home-info-container{
    max-width:90%;
    width:90%;
    margin: 0 auto;
    padding: 6rem 0;

}

.category-container { 
    max-width:90%;
    width:90%;
    margin: 0 auto;
}

.hero-title {
    font-size:2rem;
    font-weight:400;
}

.highlight {
    background-color:rgba($color: #B293C2, $alpha: 0.35);
    padding:0.5rem;
    width:max-content;
}

.hero-details{
    margin-block-start: 0.5rem;
    font-weight:400;
    font-size:3rem;
}