@use "../styles/global.scss";
@use "./partials/mixins" as * ;
@use "./partials/breakpoints" as *;
@use "./partials/colors" as *;


.home-info-container{
    @include center-content;
    padding: 6rem 0;
    @include breakpoint-min-size($xl){
        max-width:70%;
    }
}


.category-container { 
    @include center-content;
    margin-bottom:1rem;
    @include breakpoint-min-size($xl){
        max-width:70%;
    }
}

.hero-title {
    font-size:2rem;
    font-weight:400;
}

.highlight {
    @include removeMarginBlock;
    background-color:$accent;
    padding:0.5rem;
    width:max-content;
}

.hero-details{
    margin-block-start: 0.5rem;
    font-weight:400;
    font-size:3rem;
}

.project-title, .experience-title{
    @include removeMarginBlock;
    font-size:1.8rem;
}

.project-desc, .experience-desc{
    @include removeMarginBlock;
    font-size:1.5rem;
    padding: 1rem 0;
}

.project-img {
    margin-top:1rem;
    max-width:60px;
}

.project-tile-img{
    max-width:100%;
}

.project-container, .experience {
    @include center-content;
    margin-bottom:6rem;
    @include breakpoint-min-size($xl){
        max-width:70%;
    }
}

.project-container__img{
    margin-bottom:1rem;
}


.split-experience{
    @include flex-column;
    max-width:100%;
    gap:0;
    @include breakpoint-min-size($xl){
        @include center-content;
        @include flex-row;
        max-width:70%;
        gap:4rem;

    }
}

.content-container, .experience-container {
    @include flex-column;
    justify-content:space-between;
    align-content:center;
}

.content-container__left, .experience-container__left { 
    padding-top:1.5rem;
    border-top: 1px solid black;
    max-width:100%;
}

.content-container__right, .experience-container__right {
    display:flex;
    flex-direction: column;
    justify-content:center;    
}

